/* Styling for the 'program page'.
 * Copyright Fredrik A. Madsen-Malmo 2017
 **/

@font-face {
  font-family: 'osrs-chat-font';
  src: url('/fonts/runescape_chat_font.eot') format("eot"),
       url('/fonts/runescape_chat_font.svg') format("svg"),
       url('/fonts/runescape_chat_font.woff') format("woff"),
       url('/fonts/runescape_chat_font.ttf') format("truetype");
}

* {
  box-sizing: border-box;
  font-family: 'osrs-chat-font';
}

body,
html,
.container {
  height: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7% 81.5% 9%;
}

input {
  height: 100%;
  width: 100%;

  padding: 5px 10px;
  margin: 0;
  border: 0;
  
  font-size: 1.5em;
  color: white;
  background-color: black;
}

.input>.quantity>input {
  color: black;
  background-color: white;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.input {
  grid-row-start: 1;
  grid-row-end: 2;

  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;

}

.input>.name {
  grid-column-start: 1;
  grid-column-end: 2;
}

.input>.quantity {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.drops {
  padding: 0 5px;

  grid-row-start: 2;
  grid-row-end: 3;

  overflow-y: scroll;
}

.drop {
  border-bottom: 1px dotted black;
}

.drop>img {
  vertical-align: middle;
  margin-right: 10px;
}

.tally {
  grid-row-start: 3;
  grid-row-end: 4;

  padding: 0 5px;
}

.tally .total {
  color: #c17900;
}

.drop>h3,
.drop>p {
  display: inline-block;
}

.drop>p {
  margin-left: 0.5em;
}

.price {
  float: right;
}